* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  weight: 100%;
}

.parent {
  display: grid;
  grid-template-rows: 5rem auto;
  /* grid-template-rows: 1fr 1fr; */
}

.navbar {
  background-color: cadetblue;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.navbar-title {
  grid-column: 2/3;
  display: grid;
  justify-content: start;
  align-items: center;
  padding: 0 2rem;
  font-size: 2rem;
  font-weight: 900;
}

.navbar-button {
  background-color: black;
  color: white;
  cursor: pointer;
}

.child {
  display: grid;
  grid-template-columns: 20rem auto;
}

.sidebar {
  background-color: gray;

}

.content {
/* Note: Kung ano yung last na properties na dineclared mo yun yung maapply sa website */
  padding: 2rem 20rem 15rem 1rem;  /* (Top) (Right) (Bottom) (Left) */
  padding: 2rem 5rem; /* 2rem(Top&Bottom) 5rem(Left&Right) */
  color: black;  /* para malagyan ng color yung text */
  font-weight: 700; /* pampakapal ng text */
  font-size: 1.3rem; /* Size ng font mo */
  line-height: 2rem; /* Space between paragraph */
  word-spacing: .5rem;  /* space between words */
  
}
.tabss{
    display: block;
    margin: 0.5rem;
    /* padding: 2rem; */
}
.tabs{
    display: grid;
    grid-template-rows: repeat(2,5rem); 
    gap: 0.2rem;
}
.s1{
    padding: 2rem;
}
