h1{ 
    color: black;
    background-color: beige;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-decoration: underline;
}
p{
    color: black;
    letter-spacing: 3px;
    line-height: 25px;
    text-align: center;
    column-count: 3;
    column-gap: 60px;
    text-shadow: 2px 2px lightgray;
}
ul{
    /*! multiple declaration 

    /* border-width: 4px;
    border-style: solid;
    border-color: blanchedalmond; */

    /*! single declaration 

    /* border: 4px solid blanchedalmond; */
   
    border: 4px dotted blanchedalmond; 
    /* border-bottom: 4px dotted blanchedalmond; */
    border-left: 8px dashed #ac8142;
    border-right: 8px dashed #ac8142;
    
}
li{
    list-style-type: none;
    /* text-shadow: 2px 2px lightgray; */
    text-shadow: 2px 2px #e9e9e9;
}
